{% extends "thetalentscout/base.html" %}
{% block blocco_sezione %}
    Cambio Password
{% endblock blocco_sezione %}

{% block blocco_main %}
    <form method="post">
        {% csrf_token %}
{#      {{ form.as_p }}#}
        <div class="dati anagrafe">
            <div class="nomecognome">
                <label for="cognome">Utente: <strong>{{ form.user }}</strong></label>
            </div>
        </div>
        <div class="box">
            <p1>
                <label1 for="a">Vecchia Password:</label1>
                <input id="a" type="password" {{ form.old_password }}
            </p1>
            <p1>
                <label1 for="a">Nuova Password:</label1>
                <input id="a" type="password" {{ form.new_password1 }}
            </p1>
            <p1>
                <label1 for="a">Conferma Password:</label1>
                <input id="a" type="password" {{ form.new_password2 }}
            </p1>

        </div>
        <div class="nomecognome">
            <input id="search_submit" class="button" type="submit" value="Salva Password"/>
        </div>
{#        <button type="submit">Salva password</button>#}
    </form>

    <br>
    <br>
    <br>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags %} {{ message }} {% endif %}
        {% endfor %}
    {% endif %}

{% endblock blocco_main %}