{% extends "thetalentscout/inserisci_gara_amichevole.html" %}


{% block blocco_raduno %}
        <tr>
            <td class="formazione"><label class="numero_gara" id="panchina"><a>[21]</a></label><input class="nome_digara" type="text" {{ form.cognomein21 }} <input class="nome_digara" type="text" {{ form.nomein21 }}</td>
            <td class="formazione"><label class="numero_gara" id="panchina"><a>[21]</a></label><input class="nome_digara" type="text" {{ form.cognomeout21 }} <input class="nome_digara" type="text" {{ form.nomeout21 }}</td>
        </tr>
        <tr>
            <td class="formazione"><label class="numero_gara" id="panchina"><a>[22]</a></label><input class="nome_digara" type="text" {{ form.cognomein22 }} <input class="nome_digara" type="text" {{ form.nomein22 }}</td>
            <td class="formazione"><label class="numero_gara" id="panchina"><a>[22]</a></label><input class="nome_digara" type="text" {{ form.cognomeout22 }} <input class="nome_digara" type="text" {{ form.nomeout22 }}</td>
        </tr>
        <tr>
            <td class="formazione"><label class="numero_gara" id="panchina"><a>[23]</a></label><input class="nome_digara" type="text" {{ form.cognomein23 }} <input class="nome_digara" type="text" {{ form.nomein23 }}</td>
            <td class="formazione"><label class="numero_gara" id="panchina"><a>[23]</a></label><input class="nome_digara" type="text" {{ form.cognomeout23 }} <input class="nome_digara" type="text" {{ form.nomeout23 }}</td>
        </tr>
        <tr>
            <td class="formazione"><label class="numero_gara" id="panchina"><a>[24]</a></label><input class="nome_digara" type="text" {{ form.cognomein24 }} <input class="nome_digara" type="text" {{ form.nomein24 }}</td>
            <td class="formazione"><label class="numero_gara" id="panchina"><a>[24]</a></label><input class="nome_digara" type="text" {{ form.cognomeout24 }} <input class="nome_digara" type="text" {{ form.nomeout24 }}</td>
        </tr>
        <tr>
            <td class="formazione"><label class="numero_gara" id="panchina"><a>[25]</a></label><input class="nome_digara" type="text" {{ form.cognomein25 }} <input class="nome_digara" type="text" {{ form.nomein25 }}</td>
            <td class="formazione"><label class="numero_gara" id="panchina"><a>[25]</a></label><input class="nome_digara" type="text" {{ form.cognomeout25 }} <input class="nome_digara" type="text" {{ form.nomeout25 }}</td>
        </tr>

{% endblock blocco_raduno %}