{% extends "thetalentscout/inserisci_gara.html" %}

    {% block blocco_amichevole %}
        <tr>
            <td class="formazione"><label class="numero_gara" id="panchina"><a>[19]</a></label><input class="nome_digara" type="text" {{ form.cognomein19 }} <input class="nome_digara" type="text" {{ form.nomein19 }}</td>
            <td class="formazione"><label class="numero_gara" id="panchina"><a>[19]</a></label><input class="nome_digara" type="text" {{ form.cognomeout19 }} <input class="nome_digara" type="text" {{ form.nomeout19 }}</td>
        </tr>
        <tr>
            <td class="formazione"><label class="numero_gara" id="panchina"><a>[20]</a></label><input class="nome_digara" type="text" {{ form.cognomein20 }} <input class="nome_digara" type="text" {{ form.nomein20 }}</td>
            <td class="formazione"><label class="numero_gara" id="panchina"><a>[20]</a></label><input class="nome_digara" type="text" {{ form.cognomeout20 }} <input class="nome_digara" type="text" {{ form.nomeout20 }}</td>
        </tr>
    {% endblock blocco_amichevole %}
    {% block blocco_raduno %}

    {% endblock blocco_raduno %}