{% extends "thetalentscout/base.html" %}

{% block blocco_sezione %}
    Modifica Giocatori
{% endblock blocco_sezione %}
{% block blocco_main %}
    <form type="get" action="" style="margin: 0">
        <fieldset id="legenda">
            <legend id="pulsanti">Filtri:</legend>

            <div id="blocco">
                <input id="radio" type="radio" name="sele1" value=1 checked> Tutti
                <input id="radio" type="radio" name="sele1" value=2> Talent
                <input id="radio" type="radio" name="sele1" value=3> Altri

                <input id="search_box" type="text" name="search_box"  placeholder="cognome...">

{#                <button id="search_submit" type="submit" class="button" >Ricerca</button>#}
                <input id="search_submit" class="button" type="submit" value="Ricerca"/></a>
            </div>
        </fieldset>
    </form>
    <div class="input_nuovo">
        <input type="nuovo" onClick="window.location.href='{% url 'thetalentscout:new_giocatore' %}'" value="Inserisci nuovo giocatore"/></input>
    </div>
    <div class="newspaper">
        <dl>
            <section id="lista">
                {% if lista_giocatori %}
                    {% for calciatore in lista_giocatori %}
                        <dt><a id="listagiocatori" href="{% url 'thetalentscout:mod_calciatore' calciatore.id %}">
                                                                                    {{ calciatore.cognome }}
                                                                                    {{ calciatore.nome }}</a>
                        </dt>
                    {% endfor %}
                {% else %}
                    <p>Nessun giocatore nel sistema.</p>
                {% endif %}
            </section>
        </dl>
    </div>

{% endblock blocco_main %}

