{% extends "thetalentscout/base.html" %}
{% block blocco_sezione %}
    Reset Password
{% endblock blocco_sezione %}

{% block blocco_main %}
    <form method="post">
        {% csrf_token %}
        <div class="dati anagrafe">
            <div class="nomecognome">
                <label for="cognome">Utente: <strong>{{ form.user }}</strong></label>
            </div>
        </div>

        <div class="nomecognome">
            <input id="search_submit" class="button" type="submit" value="Reset Password"/>
        </div>

    </form>

{% endblock blocco_main %}