.classe_dl{
    margin-left: auto;
}

.descrizione{
    color: white;
    font-size: 16px;
    text-align: center;
}

#abilita{
    text-align: center;
    padding: 5px 10px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    opacity: 0.5;
}

#abilita:hover {
    opacity: 1;
    cursor: pointer;
}

